<div class="fix">
    <input name="use_time" class="use_time" type="hidden" value="8">
    <div class="clearfix">
        <p class="totaltime l" usetime="0" time="7200">已用时</p>
        <p class="count l" status="1">
            <span id="fen">0</span>:<span id="miao">0</span>
        </p>
    </div>
    <ul>
        <li class="pause" style="cursor: pointer;"><a>暂停</a></li>
        <li class="submit"><a><input class="right_submit" style="cursor: pointer;" type="submit" value="交卷"></a></li>
        <li class="explain"><a href="http://ti.eoffcn.com/paper/report.html?action=explain_question&amp;exam_item_id=27&amp;record_id=1788&amp;exam_id=16">查看解析</a></li>
        <li class="nextanswer" url="http://ti.eoffcn.com/paper/paper.html?action=savetemporary&amp;paper_id=1163&amp;exam_id=16&amp;exam_item_id=27"
            jump="http://ti.eoffcn.com/"><a>下次再做</a></li><!--            <li class="study" url="http://ti.eoffcn.com/paper/paper.html?action=subjectvideo&amp;subject_id=11&amp;exam_item_id=1&amp;video_type=group_video"><a>收藏试卷</a></li>-->

        <li class="storeup paper_collect study" style="cursor: pointer;" url="http://ti.eoffcn.com/paper/ajaxcollect.html?action=collect_paper&amp;id=1163">
            <a class="yes">收藏试卷</a>
        </li>
        <li class="study"><a href="http://ti.eoffcn.com/paper/pdf.html?action=get_paper&amp;paper_id=1163">pdf下载</a></li>
    </ul>
    <p class="slide_p"><a><span></span>收起</a></p>
</div>
