@model CardSaleSystem.Models.ExtModel.UserExt
@{
    ViewBag.Title = "UserManage";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<div class="tab-pane" id="user">
    <div class="check-div form-inline">
        <div class="col-xs-3">
            @if (Session["_UserType"].ToString() != "4")
            {
                <button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addUser">添加用户</button>
            }
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control input-sm" name="uinfo" id="uinfo" placeholder="输入用户编码\名称搜索">
            <button class="btn btn-white btn-xs " id="q">查 询 </button>
        </div>
        @*<div class="col-lg-3 col-lg-offset-2 col-xs-4" style=" padding-right: 40px;text-align: right;">
                <label for="paixu">排序:&nbsp;</label>
                <select class=" form-control">
                    <option>地区</option>
                    <option>地区</option>
                    <option>班期</option>
                    <option>性别</option>
                    <option>年龄</option>
                    <option>份数</option>
                </select>
            </div>*@
    </div>
    <div class="data-div">
        <div class="row tableHeader">
            <div class="col-xs-1 ">
                用户编码
            </div>
            <div class="col-xs-1">
                用户名称
            </div>
            <div class="col-xs-1">
                用户类型
            </div>
            <div class="col-xs-1">
                所属用户
            </div>
            <div class="col-xs-2">
                创建时间
            </div>
            <div class="col-xs-1">
                状态
            </div>
            <div class="col-xs-3">
                备注
            </div>
            <div class="col-xs-2">
                操作
            </div>
        </div>
        @*<div class="tablebody">*@
            @if (Request.IsAjaxRequest())
            {
                <div class="tablebody" id="tbc"></div>
            }
            else
            {
                <div class="tablebody">
                    @Html.Partial("/Views/User/Partial/_PartialUserManage.cshtml")
                </div>
            }
        @*</div>*@
    </div>
    <!--页码块-->
    <footer class="footer">
        <ul class="pagination">
            <li>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                页
            </li>
            <li class="gray">
                共20页
            </li>
            <li>
                <i class="glyphicon glyphicon-menu-left">
                </i>
            </li>
            <li>
                <i class="glyphicon glyphicon-menu-right">
                </i>
            </li>
        </ul>
    </footer>
    <!--弹出添加用户窗口-->
    <div class="modal fade" id="addUser" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" method="post" action="/User/CreateProxy">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">添加代理</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group ">
                                <label for="userCode" class="col-xs-3 control-label">用户编码：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi" name="UserCode" id="userCode" placeholder="请输入用户编码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userName" class="col-xs-3 control-label">用户姓名：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi" name="UserName" id="userName" placeholder="请输入用户姓名">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-xs-3 control-label">电话：</label>
                                <div class="col-xs-8">
                                    <input type="tel" class="form-control input-sm duiqi" name="Phone" id="phone" placeholder="请输入电话号码">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="userType" class="col-xs-3 control-label">权限：</label>
                                <div class="col-xs-8">
                                    <select class=" form-control select-duiqi" name="UserType" id="userType">
                                        @if (Session["_UserType"].ToString() == "1")
                                        {
                                            @*<option value="1">管理员</option>*@
                                            <option value="2">代理</option>
                                            <option value="3">分销</option>
                                            <option value="4">档口</option>
                                        }
                                        else if (Session["_UserType"].ToString() == "2")
                                        {
                                            <option value="3">分销</option>
                                            <option value="4">档口</option>
                                        }
                                        else if(Session["_UserType"].ToString() == "3")
                                        {
                                            <option value="4">档口</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="memo" class="col-xs-3 control-label">备注：</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control input-sm duiqi" name="Memo" id="memo" placeholder="请输入备注">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="situation" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label" for="anniu">
                                        <input type="radio" name="IsActive" id="normal" value="1" checked="checked">启用
                                    </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label" for="meun">
                                        <input type="radio" name="IsActive" id="forbid" value="0">禁用
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                        <button type="submit" class="btn btn-xs btn-green">提 交</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--弹出修改用户窗口-->
    <div class="modal fade" id="reviseUser" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改用户</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">
                            <div class="form-group ">
                                <label for="sName" class="col-xs-3 control-label">用户名：</label>
                                <div class="col-xs-8 ">
                                    <input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sLink" class="col-xs-3 control-label">真实姓名：</label>
                                <div class="col-xs-8 ">
                                    <input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sOrd" class="col-xs-3 control-label">电子邮箱：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">电话：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">地区：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">权限：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="situation" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label" for="anniu">
                                        <input type="radio" name="situation" id="normal">正常
                                    </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label" for="meun">
                                        <input type="radio" name="situation" id="forbid"> 禁用
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-xs btn-green">保 存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--弹出删除用户警告窗口-->
    <div class="modal fade" id="deleteUser" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="/User/Delete">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                    </div>
                    <input type="hidden" name="uid" id="cid" />

                    <div class="modal-body">
                        <div class="container-fluid">
                            确定要删除该用户？删除后不可恢复！
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                        <button type="submit" class="btn  btn-xs btn-danger">删 除</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<script  type="text/javascript">
    (function () {
        $("#q").on("click", function () {
            var info = $("#uinfo").val();
            //if (info == "") {
            //    layer.alert("请输入用户名\密码");
            //    return;
            //}
            window.location = "/User/SearchUser?info=" + info;
            setTimeout(2000);
            layer.alert("加载中...");
        });

   

    })()

    function udel(id) {
        $("#cid").val(id);
        $('#deleteUser').modal('show');
    }
</script>


